#root {
  display: flex;
  flex-direction: column;
  width: min(800px, 100%);
  margin: 0 auto;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15rem;
  padding: 2rem;
}
