.table-container {
  width: 100%;
  max-width: 100dvw;
  overflow-x: auto;
}

.table {
  width: max-content;
  border-collapse: collapse;
  overflow: hidden; /* to cut overflow e.g. for resizer on last th */
}

.th {
  border-bottom: 2px solid #ffffff;
  position: relative; /* important to position absolute drop indicator*/
  box-sizing: border-box;
  text-align: left;
  white-space: nowrap;
  padding: 8px;
}

.th--dragging {
  background-color: #091e4224;
  color: #091e424f;
}

.resizer {
  --resizer-width: 12px;
  position: absolute;
  top: 0;
  right: calc(-1 * calc(var(--resizer-width) / 2));
  width: var(--resizer-width);
  height: var(--table-height);
  cursor: col-resize;
}

.resizer::before {
  --line-width: 2px;
  content: '';
  position: absolute;
  inset: 0;
  left: calc(50% - calc(var(--line-width) / 2));
  background-color: #907101;
  width: var(--line-width);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.th:last-child .resizer::before {
  left: calc(50% - calc(var(--line-width)));
}

.resizer:hover::before {
  opacity: 1;
}

.resizer--resizing {
  /* turning off the resizing cursor as sometimes it can cause the cursor to flicker
  while resizing. The browser controls the cursor while dragging, but the browser
  can sometimes bug out. */
  cursor: 'unset';
}

.resizer--resizing::before {
  opacity: 1;
}

.td {
  text-align: left;
  padding: 8px;
}
